apiVersion: apps/v1
kind: Deployment
metadata:
  name: naveen-maven
spec:
  replicas: 2
  selector:
    matchLabels:
      app: naveen-maven
  template:
    metadata:
      labels:
        app: naveen-maven
    spec:
      containers:
        - name: maven
          image: naveensmily79/naveen-maven-own:v1
          ports:
            - containerPort: 8080
          env:
            - name: PORT
              value: "8080"
---
apiVersion: v1
kind: Service
metadata:
  name: naveen-maven
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 8080
  selector:
    app: naveen-maven
